<p id="notice"><%= notice %></p>

<h1>Coordinators</h1>
    <% @coordinators.each do |coordinator| %>
    <% unless coordinator.adminflag == true %>
      <tr>
        <div class="col " style="background: #fff;"">
          <aside class="">
            <section class="user_info">
              <%= link_to gravatar_for(coordinator), coordinator%>
                <h4><b>Name: </b> <%= coordinator.name %></h4>
                <h4><b>Email: </b> <%= coordinator.email %></h4>
            </section>
          </aside>
        </div>
      </tr>
      <% end %>
    <% end %>
