<h1> <b>Coordinator</b></h1>
<div class="col" style="background: #A9A9A9;"">
  <aside class="container">
    <section class="user_info">
      <%= gravatar_for @coordinator %>

        <h4><b>Name: </b> <%= @coordinator.name %></h4>
        <h4><b>Email: </b> <%= @coordinator.email %></h4>
        <% if @coordinator.courses.size >= 1%>
        <h4>Course Assigned To:
          <% for course in @coordinator.courses do%>
          <%= link_to course.name, course %>
          <% end %>
        </h4>
        <% else %>
        <h4>No Course Assigned To</h4>
        <% end %>

    </section>
  </aside>
</div>
