/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap/bootstrap-tooltip
 */
.button_feedback {

  /* background-color: silver ; */
  background-color: #009999
    border: 0.1px solid #080808;;
    color: silver;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:20px;
    margin: 8px 6px 6px 8px;
    cursor: pointer;
    border-radius: 12px;
    width:140px;
    height: 50px;

    margin-right: 10px;
    font-size: 1.7em;
    color: #ddd;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}
.button_feedback:hover{
  background-color: grey;
}
