<!-- Footer -->
<footer class="page-footer pt-4 navbar navbar-inverse container-fluid">

    <div class="container text-center">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mt-md-0 mt-3 navbar navbar-right">
        <strong>
        <%= link_to "CONTACT", feedback_new_path, class: "btn button_feedback"  %>
      </strong>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mt-md-0 mt-3">
        <div class="row">
          <h5><strong>General Inquiries</strong></h5>
        </div>
        <div class="row">
          <a href="https://www.rmit.edu.au/contact/staff-contacts/academic-staff/s/song-dr-andy">Andy Song</a>
        </div>
        <div class="row">
          <a href="https://au.linkedin.com/in/notalexjiang">Junliang Jiang</a>
        </div>
        <div class="row">
          <a href="#!">Ali</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-md-0 mt-3">
        <div class="row">
          <h5><strong>Useful Links</strong></h5>
        </div>
        <div class="row">
          <a href="https://www.rmit.edu.au/study-with-us">RMIT Course</a>
        </div>
        <div class="row">
          <a href="https://www.rmit.edu.au/students/support-and-facilities/it-services-for-students/service-and-support-centre">RMIT Help Desk</a>
        </div>
        <div class="row">
          <a href="https://www.rmit.edu.au/study-with-us/international-students">RMIT International</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-md-0 mt-3">
        <div class="row">
          <h5><strong>Media</strong></h5>
        </div>
        <div class="row">
          <a href="https://www.youtube.com/" rel="youtube" data-placement="right">Youtube</a>
        </div>
        <div class="row">
          <a href="https://twitter.com/" rel="twitter" data-placement="right">Twitter</a>
        </div>
        <div class="row">
          <a href="https://www.facebook.com/" rel="facebook" data-placement="right">Facebook</a>
        </div>
        <div class="row">
          <a href="https://www.instagram.com/" rel="instagram" data-placement="right">Instagram</a>
        </div>
        <div class="row">
          <a href="https://www.skype.com/en/" rel="skype" data-placement="right">Skype</a>
        </div>
      </div>
    </div><!--row-->
  </div><!--container-->

  <div class="container text-center">
    <p>Tel: 0123456789 Fax: 0123456 Email: junliang.jiang@rmit.edu.au</p>
  </div>

  </footer>
  <!-- Footer -->
