<!-- Footer -->
<footer class="page-footer font-small blue pt-4 navbar-fixed-bottom navbar-inverse">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>
        </div>
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>
        </div>

      </div>
      <!-- Grid row -->
      <div class="row">
        <strong align="right">Useful Link:</strong>
          <a href="https://www.rmit.edu.au/study-with-us">RMIT COURSE</a>
          <a href="https://www.rmit.edu.au/students/support-and-facilities/it-services-for-students/service-and-support-centre">RMIT HELPDESK</a>
          <a href="https://www.rmit.edu.au/study-with-us/international-students">RMIT INTERNATIONAL</a>
          <a href="https://www.rmit.edu.au/">RMIT WEBSITE</a>
          <strong>Media:</strong>
            <a href="https://www.youtube.com/">Youtube</a>
            <a href="https://twitter.com/?lang=en">Twitter</a>
            <a href="https://www.facebook.com">Faceboo</a>
            <a href="https://www.instagram.com/">Instagram</a>
      </div>


    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Contact Us:
      <i>Tel </i><b>0195247753</b>
      <i>Fax </i><b>01256321457</b>
      <i>Email </i><b>Brunce-Kant@gmail.com</b>

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
